@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  line-height: 1.5;
}

* {
  font-family: 'Open Sans', sans-serif;
  }

body {
  font-family: 'Open Sans', sans-serif;
}

@keyframes bgZoom {
  0% { transform: scale(1) translateY(0); }
  50% { transform: scale(1.03) translateY(10px); }
  100% { transform: scale(1) translateY(0); }
}

.animate-bgZoom {
  animation: bgZoom 8s ease-in-out infinite;
}

.animate-fadeInUp {
  opacity: 0;
  transform: translateY(2000px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}